.search-bar {
  display: flex;
  align-items: center;

  position: sticky;
  top: 0;

  width: 100%;
  height: 75px;
  border-bottom: 1px solid #e6e6e6;
  background: #ffffff;
}

.search-bar .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar .container .logo span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .container .logo span .divider {
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  width: 1px;
}

.search-bar .container .logo span img {
  width: 100%;
  max-width: 100px;
}

.search-bar .container .search-input {
  width: 30%;
}


.search-bar .container .search-input input {
  width: 100%;
  height: 25px;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  text-align: center;
  font-size: 14px;
  padding: 0 5px;
}

@media (max-width: 500px) {
  .search-bar .container .search-input {
    display: none;
  }
}

.search-bar .container .search-input input:focus {
  text-align: left;
}


.search-bar .container .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .container .menu a {
  color: #000000;
  margin-left: 2rem;
}